/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  min-height: 100vh;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 1.8fr .8fr;
      grid-template-columns: 0.4fr 1.8fr .8fr;
  -ms-grid-rows: 80vh 15vh;
      grid-template-rows: 80vh 15vh;
      grid-template-areas: "sidebar item-area set-area" "sidebar set-bank set-area";
  max-height: 100%;
}

.sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
}

.set-area {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: set-area;
}

.item-area {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: item-area;
}

.set-bank {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: set-bank;
}

.visible {
  display: inline !important;
}

.invisible {
  display: none !important;
}

.logo-bar {
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #02343E;
  color: #C9AA71;
}

.logo-bar h1, .logo-bar ul {
  margin: 0 50px;
}

.logo-bar ul li {
  display: inline;
  margin-left: 20px;
}

.item {
  display: inline-block;
  position: relative;
}

.item img {
  position: relative;
  z-index: 1;
  width: 55px;
}

.item button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  height: 15px;
  width: 15px;
}

.item-block {
  max-height: 125px;
  border: 1px solid grey;
  margin-bottom: 25px;
  max-width: 500px;
}

.item-block-droppable {
  margin: 10px 10px;
  height: 75px;
}

.item-bank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 25px;
  position: relative;
}

.item-bank .item-sets {
  width: 90%;
}

.item-bank .item-sets div {
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.item-bank .item-sets div img {
  width: 48px;
  border-radius: 50px;
  border: 2px solid #8cabb1;
}

.item-bank .item-sets div .editing {
  border: 2px solid #C9AA71;
}

.item-bank .item-sets div p {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  font-size: 14px;
}

.item-bank .add-set {
  position: relative;
}

.champ-select-container {
  position: absolute;
  top: -385px;
  left: -200px;
  height: 350px;
  width: 500px;
  border: 5px solid black;
  z-index: 5;
  background-color: white;
}

.champ-select-container button {
  position: absolute;
  right: 0;
  border-radius: 0;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: none;
  border-right: none;
  background-color: red;
}

.champ-select-container .champ-select-nav {
  height: 70px;
}

.champ-select-container .champ-select {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  overflow-y: scroll;
  height: 278px;
  border-top: 2px solid black;
}

.champ-select-container .champ-select div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 10px;
}

.champ-select-container .champ-select div img {
  border-radius: 50px;
  width: 25px;
}

.champ-select-container .champ-select div p {
  display: inline;
  margin-left: 5px;
  font-size: 14px;
  vertical-align: middle;
}
/*# sourceMappingURL=main.css.map */